<div class="panel panel-default">
	<div class="panel-header">
		<small>
			{{ .Date.Format "Jan 02 , 2006" }}
		</small>
		<h5>
			<a href="{{ .Permalink }}">{{ .Title }}</a>
			{{ if isset .Params "tags" }}
				<small class="text-muted"  style="float: right">
					{{ $base := .Site.BaseURL }}
					{{ range $tag := .Params.tags }}
						<a href="{{ $base }}tags/{{ $tag | urlize }}">
							<span class="label label-success">{{ . }}</span>
						</a>
					{{ end }}
				</small>
			{{ end }}
		</h5>
	</div>
</div>
