{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<main>
	<header>
        <br>
        <!-- <strong>{{ .Date.Format "Jan 02 , 2006 15:16" }}</strong> -->
		<h1 style="margin-top: 4px;">
            {{ .Title }}
        </h1>
	</header>

	<article>
        {{ if isset .Params "tags" }}
            <small class="text-muted">
                {{ $base := .Site.BaseURL }}
                {{ range $tag := .Params.tags }}
                    <a href="{{ $base }}tags/{{ $tag | urlize }}">
                        <span class="label label-success">{{ . }}</span>
                    </a>
                {{ end }}
            </small>
        {{ end }}

		{{ .Content }}
	</article>
</main>

<div id="bottom-nav" class="text-center center-block">
	<!-- <a href=" {{ .Site.BaseURL }}" class="btn btn-default"><i class="fa fa-home"></i> Home</a> -->
</div>

{{ if .Site.DisqusShortname }}
  {{ template "_internal/disqus.html" . }}
{{ end }}

{{ if .Site.Params.shareFlag }}
  {{ partial "share.html" . }}
{{ end }}

{{ if .Site.Params.duoshuoShortname }}
  {{ partial "duoshuo.html" . }}
{{ end }}

{{ partial "footer.html" . }}
